name: update project

permissions:
  contents: write
  id-token: write

on:
  workflow_dispatch: {}

jobs:
  update:
    # only run on protected branches
    if: github.ref_protected == true

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS role
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-2
          role-to-assume: ${{ vars.AWS_BUILD_READ_ROLE }}

      - name: Request token exchange
        uses: boostsecurityio/github-actions/oidc-exchange@main
        id: exchange
        with:
          environment: "dev"
          github_enable: true
          github_install_id: ${{ vars.OIDC_EXCHANGE_INSTALL_ID }}
          github_repositories: "ALL"

      - name: Configure GIT credentials
        env:
          GITHUB_TOKEN: ${{ steps.exchange.outputs.github_token }}
        run: |
          git config --global url."https://github.com/".insteadOf "git@github.com:"
          git config --global credential.helper store
          echo "https://x-access-token:${GITHUB_TOKEN}@github.com" > "${HOME}/.git-credentials"

      - name: Configure GIT settings
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
          # adjust git diff to reduce rejections rate
          git config --global diff.algorithm minimal
          git config --global diff.context 1

      - name: Install poetry
        run: pipx install "poetry<2.0.0"

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "poetry"

      - name: Install dependencies
        run: make install

      - name: Install cruft
        run: poetry run pip3 install cruft

      - name: Detect cruft template changes
        id: check
        run: |
          if test -f .cruft.json; then
            if ! poetry run cruft check; then
              CHANGES=1
            fi
          fi

          echo "has_changes=${CHANGES:-0}" >> "${GITHUB_OUTPUT}"

      - name: Update cruft template
        continue-on-error: true
        if: steps.check.outputs.has_changes == '1'
        run: poetry run cruft update --skip-apply-ask --refresh-private-variables

      - name: Unstage cruft files
        if: steps.check.outputs.has_changes == '1'
        run: git restore --staged .

      - name: Update dependencies
        continue-on-error: true
        run: |
          make update
          make format

      - name: Detect changes
        id: result
        run: |
          git diff --stat

          if ! git diff --quiet; then
            CHANGES=1
          fi

          echo "has_changes=${CHANGES:-0}" >> "${GITHUB_OUTPUT}"

      - name: Request write token
        uses: boostsecurityio/github-actions/oidc-exchange@main
        id: write-token
        with:
          environment: "dev"
          github_enable: true
          github_install_id: ${{ vars.OIDC_EXCHANGE_INSTALL_ID }}
          github_permissions: "contents:write metadata:read pull_requests:write workflows:write"

      - name: Create pull request
        if: steps.result.outputs.has_changes == '1'
        uses: canonical/create-pull-request@50c2155ad4c70f0fd964403d89d9f897e33d06a9
        with:
          base: main
          body: |
            This is an autogenerated PR.

            [Cruft](https://cruft.github.io/cruft/) has detected updates from the Cookiecutter repository.
          branch-name: cruft/update
          commit-message: "chore: update project dependencies"
          github-token: ${{ steps.write-token.outputs.github_token }}
          ignore-no-changes: "true"
          title: "[cruft] New updates detected"
          upsert: "true"
